@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';

@font-face {
  font-family: 'wd-icons';  /* Project id 5061229 */
  src: url('//at.alicdn.com/t/c/font_5061229_toovr05blle.woff2?t=1762777795179') format('woff2'),
       url('//at.alicdn.com/t/c/font_5061229_toovr05blle.woff?t=1762777795179') format('woff'),
       url('//at.alicdn.com/t/c/font_5061229_toovr05blle.ttf?t=1762777795179') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*  #ifdef  APP-PLUS || H5  */
@font-face {
  font-family: 'wd-icons';
  src:
    url('./wd-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*  #endif  */

@include b(icon) {
  display: inline-block;
  font-family: 'wd-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before {
    display: inline-block;
  }

  @include m(image) {
    width: 1em;
    height: 1em;
  }

  @include e(image) {
    width: 100%;
    height: 100%;
  }
}

.wd-icon-add-circle:before {
  content: "\e9a9";
}

.wd-icon-add-circle-filled:before {
  content: "\e9aa";
}

.wd-icon-add-box:before {
  content: "\e9ab";
}

.wd-icon-add:before {
  content: "\e9ac";
}

.wd-icon-bookshelf-filled:before {
  content: "\e99b";
}

.wd-icon-check:before {
  content: "\e99c";
}

.wd-icon-camera-filled:before {
  content: "\e99d";
}

.wd-icon-bookmark-filled:before {
  content: "\e99e";
}

.wd-icon-camera:before {
  content: "\e99f";
}

.wd-icon-bookmark:before {
  content: "\e9a0";
}

.wd-icon-attention-filled:before {
  content: "\e9a1";
}

.wd-icon-at-sign:before {
  content: "\e9a2";
}

.wd-icon-arrow-circle-left-filled:before {
  content: "\e9a3";
}

.wd-icon-arrow-circle-right-filled:before {
  content: "\e9a4";
}

.wd-icon-arrow-circle-up-filled:before {
  content: "\e9a5";
}

.wd-icon-attention:before {
  content: "\e9a6";
}

.wd-icon-address-book:before {
  content: "\e9a7";
}

.wd-icon-address-book-filled:before {
  content: "\e9a8";
}

.wd-icon-dashboard:before {
  content: "\e98e";
}

.wd-icon-delete-box:before {
  content: "\e98f";
}

.wd-icon-avatar-filled:before {
  content: "\e990";
}

.wd-icon-delete-box-filled:before {
  content: "\e991";
}

.wd-icon-avatar:before {
  content: "\e992";
}

.wd-icon-copyright-filled:before {
  content: "\e993";
}

.wd-icon-copyright:before {
  content: "\e994";
}

.wd-icon-close:before {
  content: "\e995";
}

.wd-icon-close-circle-filled:before {
  content: "\e996";
}

.wd-icon-close-circle:before {
  content: "\e997";
}

.wd-icon-camera-camera:before {
  content: "\e998";
}

.wd-icon-check-circle:before {
  content: "\e999";
}

.wd-icon-check-circle-filled:before {
  content: "\e99a";
}

.wd-icon-good-filled:before {
  content: "\e980";
}

.wd-icon-lightning:before {
  content: "\e981";
}

.wd-icon-id-card-filled:before {
  content: "\e982";
}

.wd-icon-lightning-filled:before {
  content: "\e983";
}

.wd-icon-help-filled:before {
  content: "\e984";
}

.wd-icon-face-recognition:before {
  content: "\e985";
}

.wd-icon-cutting:before {
  content: "\e986";
}

.wd-icon-female:before {
  content: "\e987";
}

.wd-icon-help:before {
  content: "\e988";
}

.wd-icon-flashlight:before {
  content: "\e989";
}

.wd-icon-female-filled:before {
  content: "\e98a";
}

.wd-icon-dislike:before {
  content: "\e98b";
}

.wd-icon-dislike-filled:before {
  content: "\e98c";
}

.wd-icon-dimensional-filled:before {
  content: "\e98d";
}

.wd-icon-minus-circle-filled:before {
  content: "\e972";
}

.wd-icon-more:before {
  content: "\e973";
}

.wd-icon-minus-circle:before {
  content: "\e974";
}

.wd-icon-minus-box:before {
  content: "\e975";
}

.wd-icon-me-filled:before {
  content: "\e976";
}

.wd-icon-minus-box-filled:before {
  content: "\e977";
}

.wd-icon-mall-bag-filled:before {
  content: "\e978";
}

.wd-icon-minus:before {
  content: "\e979";
}

.wd-icon-like:before {
  content: "\e97a";
}

.wd-icon-me:before {
  content: "\e97b";
}

.wd-icon-male-filled:before {
  content: "\e97c";
}

.wd-icon-id-card:before {
  content: "\e97d";
}

.wd-icon-male:before {
  content: "\e97e";
}

.wd-icon-like-filled:before {
  content: "\e97f";
}

.wd-icon-people:before {
  content: "\e964";
}

.wd-icon-pay-code-filled:before {
  content: "\e965";
}

.wd-icon-pause-circle:before {
  content: "\e966";
}

.wd-icon-pause:before {
  content: "\e967";
}

.wd-icon-movie:before {
  content: "\e968";
}

.wd-icon-music:before {
  content: "\e969";
}

.wd-icon-monitor:before {
  content: "\e96a";
}

.wd-icon-more-app-filled:before {
  content: "\e96b";
}

.wd-icon-more-app:before {
  content: "\e96c";
}

.wd-icon-more-c:before {
  content: "\e96d";
}

.wd-icon-more-c-filled:before {
  content: "\e96e";
}

.wd-icon-more2:before {
  content: "\e96f";
}

.wd-icon-more2-c:before {
  content: "\e970";
}

.wd-icon-more2-c-filled:before {
  content: "\e971";
}

.wd-icon-peoples:before {
  content: "\e956";
}

.wd-icon-soap-bubble:before {
  content: "\e957";
}

.wd-icon-peoples-filled:before {
  content: "\e958";
}

.wd-icon-search:before {
  content: "\e959";
}

.wd-icon-sleep-filled:before {
  content: "\e95a";
}

.wd-icon-search-filled:before {
  content: "\e95b";
}

.wd-icon-preview-open:before {
  content: "\e95c";
}

.wd-icon-remind-disable:before {
  content: "\e95d";
}

.wd-icon-remind:before {
  content: "\e95e";
}

.wd-icon-refresh:before {
  content: "\e95f";
}

.wd-icon-play-circle:before {
  content: "\e960";
}

.wd-icon-pic-filled:before {
  content: "\e961";
}

.wd-icon-people-filled:before {
  content: "\e962";
}

.wd-icon-play:before {
  content: "\e963";
}

.wd-icon-arrow-circle-down-filled:before {
  content: "\e948";
}

.wd-icon-workbench-filled:before {
  content: "\e949";
}

.wd-icon-wallet-filled:before {
  content: "\e94a";
}

.wd-icon-weixin-app-filled:before {
  content: "\e94b";
}

.wd-icon-volume-up-filled:before {
  content: "\e94c";
}

.wd-icon-success:before {
  content: "\e94d";
}

.wd-icon-setting-filled:before {
  content: "\e94e";
}

.wd-icon-setting-config:before {
  content: "\e94f";
}

.wd-icon-success-filled:before {
  content: "\e950";
}

.wd-icon-video-box:before {
  content: "\e951";
}

.wd-icon-tool-filled:before {
  content: "\e952";
}

.wd-icon-soap-bubble-filled:before {
  content: "\e953";
}

.wd-icon-setting:before {
  content: "\e954";
}

.wd-icon-tag-filled:before {
  content: "\e955";
}

.wd-icon-circle-right-down-filled:before {
  content: "\e939";
}

.wd-icon-collapse-text-input:before {
  content: "\e93a";
}

.wd-icon-city:before {
  content: "\e93b";
}

.wd-icon-city-filled:before {
  content: "\e93c";
}

.wd-icon-circle-right-up:before {
  content: "\e93d";
}

.wd-icon-circle-right-up-filled:before {
  content: "\e93e";
}

.wd-icon-circle-right-down:before {
  content: "\e93f";
}

.wd-icon-circle-left-up:before {
  content: "\e940";
}

.wd-icon-circle-left-up-filled:before {
  content: "\e941";
}

.wd-icon-circle-left-down-filled:before {
  content: "\e942";
}

.wd-icon-bug:before {
  content: "\e943";
}

.wd-icon-circle-left-down:before {
  content: "\e944";
}

.wd-icon-caution:before {
  content: "\e945";
}

.wd-icon-caution-filled:before {
  content: "\e946";
}

.wd-icon-bug-filled:before {
  content: "\e947";
}

.wd-icon-double-up-circle-filled:before {
  content: "\e92a";
}

.wd-icon-double-up-circle:before {
  content: "\e92b";
}

.wd-icon-double-right-circle-filled:before {
  content: "\e92c";
}

.wd-icon-double-up:before {
  content: "\e92d";
}

.wd-icon-double-right-circle:before {
  content: "\e92e";
}

.wd-icon-double-right:before {
  content: "\e92f";
}

.wd-icon-double-left-circle:before {
  content: "\e930";
}

.wd-icon-double-left-circle-filled:before {
  content: "\e931";
}

.wd-icon-double-left:before {
  content: "\e932";
}

.wd-icon-double-down-circle-filled:before {
  content: "\e933";
}

.wd-icon-doc-search-filled:before {
  content: "\e934";
}

.wd-icon-double-down-circle:before {
  content: "\e935";
}

.wd-icon-double-down:before {
  content: "\e936";
}

.wd-icon-comments-filled:before {
  content: "\e937";
}

.wd-icon-comments:before {
  content: "\e938";
}

.wd-icon-left:before {
  content: "\e91b";
}

.wd-icon-home:before {
  content: "\e91c";
}

.wd-icon-home-filled:before {
  content: "\e91d";
}

.wd-icon-emotion-unhappy-filled:before {
  content: "\e91e";
}

.wd-icon-harm-filled:before {
  content: "\e91f";
}

.wd-icon-harm:before {
  content: "\e920";
}

.wd-icon-emotion-happy-filled:before {
  content: "\e921";
}

.wd-icon-expand-text-input:before {
  content: "\e922";
}

.wd-icon-emotion-unhappy:before {
  content: "\e923";
}

.wd-icon-down-c-filled:before {
  content: "\e924";
}

.wd-icon-emotion-happy:before {
  content: "\e925";
}

.wd-icon-down-c:before {
  content: "\e926";
}

.wd-icon-down-box-filled:before {
  content: "\e927";
}

.wd-icon-down-box:before {
  content: "\e928";
}

.wd-icon-down:before {
  content: "\e929";
}

.wd-icon-power:before {
  content: "\e90c";
}

.wd-icon-protect:before {
  content: "\e90d";
}

.wd-icon-preview-close:before {
  content: "\e90e";
}

.wd-icon-picture-album-filled:before {
  content: "\e90f";
}

.wd-icon-message-emoji-filled:before {
  content: "\e910";
}

.wd-icon-notebook-filled:before {
  content: "\e911";
}

.wd-icon-logout:before {
  content: "\e912";
}

.wd-icon-mail-filled:before {
  content: "\e913";
}

.wd-icon-level-filled:before {
  content: "\e914";
}

.wd-icon-left-c:before {
  content: "\e915";
}

.wd-icon-left-c-filled:before {
  content: "\e916";
}

.wd-icon-log-filled:before {
  content: "\e917";
}

.wd-icon-left-box-filled:before {
  content: "\e918";
}

.wd-icon-left-box:before {
  content: "\e919";
}

.wd-icon-label-filled:before {
  content: "\e91a";
}

.wd-icon-right-c:before {
  content: "\e904";
}

.wd-icon-right-c-filled:before {
  content: "\e905";
}

.wd-icon-right-box-filled:before {
  content: "\e906";
}

.wd-icon-protect-filled:before {
  content: "\e907";
}

.wd-icon-right-box:before {
  content: "\e908";
}

.wd-icon-pic:before {
  content: "\e909";
}

.wd-icon-right:before {
  content: "\e90a";
}

.wd-icon-phone-call-filled:before {
  content: "\e90b";
}

.wd-icon-sort-filled:before {
  content: "\e8fc";
}

.wd-icon-sort:before {
  content: "\e8fd";
}

.wd-icon-sliding-vertical-filled:before {
  content: "\e8fe";
}

.wd-icon-seo-folder-filled:before {
  content: "\e8ff";
}

.wd-icon-screen-off:before {
  content: "\e900";
}

.wd-icon-sliding-horizontal-filled:before {
  content: "\e901";
}

.wd-icon-sleep:before {
  content: "\e902";
}

.wd-icon-screen-full:before {
  content: "\e903";
}

.wd-icon-voice:before {
  content: "\e8ed";
}

.wd-icon-vip-filled:before {
  content: "\e8ee";
}

.wd-icon-vip:before {
  content: "\e8ef";
}

.wd-icon-up-c:before {
  content: "\e8f0";
}

.wd-icon-up-c-filled:before {
  content: "\e8f1";
}

.wd-icon-topic-filled:before {
  content: "\e8f2";
}

.wd-icon-up:before {
  content: "\e8f3";
}

.wd-icon-tool:before {
  content: "\e8f4";
}

.wd-icon-tips-filled:before {
  content: "\e8f5";
}

.wd-icon-tag:before {
  content: "\e8f6";
}

.wd-icon-table-filled:before {
  content: "\e8f7";
}

.wd-icon-switch:before {
  content: "\e8f8";
}

.wd-icon-system-filled:before {
  content: "\e8f9";
}

.wd-icon-system:before {
  content: "\e8fa";
}

.wd-icon-sort-line:before {
  content: "\e8fb";
}

.wd-icon-arrow-right:before {
  content: "\e8dd";
}

.wd-icon-arrow-left:before {
  content: "\e8de";
}

.wd-icon-arrow-down:before {
  content: "\e8df";
}

.wd-icon-arrow-circle-up:before {
  content: "\e8e0";
}

.wd-icon-arrow-circle-right:before {
  content: "\e8e1";
}

.wd-icon-arrow-circle-left:before {
  content: "\e8e2";
}

.wd-icon-arrow-circle-down:before {
  content: "\e8e3";
}

.wd-icon-add-text:before {
  content: "\e8e4";
}

.wd-icon-zoom-out-filled:before {
  content: "\e8e5";
}

.wd-icon-volume-up:before {
  content: "\e8e6";
}

.wd-icon-zoom-in-filled:before {
  content: "\e8e7";
}

.wd-icon-volume-mute-filled:before {
  content: "\e8e8";
}

.wd-icon-volume-mute:before {
  content: "\e8e9";
}

.wd-icon-volume-down-filled:before {
  content: "\e8ea";
}

.wd-icon-volume-down:before {
  content: "\e8eb";
}

.wd-icon-voice-off:before {
  content: "\e8ec";
}

.wd-icon-brightness-filled:before {
  content: "\e8cc";
}

.wd-icon-edit:before {
  content: "\e8cd";
}

.wd-icon-copy-filled:before {
  content: "\e8ce";
}

.wd-icon-edit-box:before {
  content: "\e8cf";
}

.wd-icon-doc-search:before {
  content: "\e8d0";
}

.wd-icon-copy:before {
  content: "\e8d1";
}

.wd-icon-delete:before {
  content: "\e8d2";
}

.wd-icon-brightness:before {
  content: "\e8d3";
}

.wd-icon-delete-filled:before {
  content: "\e8d4";
}

.wd-icon-blossom:before {
  content: "\e8d5";
}

.wd-icon-bookshelf:before {
  content: "\e8d6";
}

.wd-icon-blossom-filled:before {
  content: "\e8d7";
}

.wd-icon-bloom:before {
  content: "\e8d8";
}

.wd-icon-bloom-filled:before {
  content: "\e8d9";
}

.wd-icon-arrow-up:before {
  content: "\e8da";
}

.wd-icon-back-filled:before {
  content: "\e8db";
}

.wd-icon-back:before {
  content: "\e8dc";
}

.wd-icon-logo-android-o:before {
  content: "\e8bb";
}

.wd-icon-log:before {
  content: "\e8bc";
}

.wd-icon-lock-filled:before {
  content: "\e8bd";
}

.wd-icon-list-view:before {
  content: "\e8be";
}

.wd-icon-leaves:before {
  content: "\e8bf";
}

.wd-icon-level:before {
  content: "\e8c0";
}

.wd-icon-leaves-filled:before {
  content: "\e8c1";
}

.wd-icon-label:before {
  content: "\e8c2";
}

.wd-icon-gps-filled:before {
  content: "\e8c3";
}

.wd-icon-friends-circle-filled:before {
  content: "\e8c4";
}

.wd-icon-friends-circle:before {
  content: "\e8c5";
}

.wd-icon-fire-filled:before {
  content: "\e8c6";
}

.wd-icon-gps:before {
  content: "\e8c7";
}

.wd-icon-fire:before {
  content: "\e8c8";
}

.wd-icon-edit-filled:before {
  content: "\e8c9";
}

.wd-icon-filter-filled:before {
  content: "\e8ca";
}

.wd-icon-edit-box-filled:before {
  content: "\e8cb";
}

.wd-icon-mark-filled:before {
  content: "\e8aa";
}

.wd-icon-mail:before {
  content: "\e8ab";
}

.wd-icon-mark:before {
  content: "\e8ac";
}

.wd-icon-logo-twitter-o:before {
  content: "\e8ad";
}

.wd-icon-logo-github:before {
  content: "\e8ae";
}

.wd-icon-logo-jinritoutiao:before {
  content: "\e8af";
}

.wd-icon-logo-linkedin:before {
  content: "\e8b0";
}

.wd-icon-logo-google:before {
  content: "\e8b1";
}

.wd-icon-logo-google-o:before {
  content: "\e8b2";
}

.wd-icon-logo-github-o:before {
  content: "\e8b3";
}

.wd-icon-logo-apple:before {
  content: "\e8b4";
}

.wd-icon-logo-browser-safari-o:before {
  content: "\e8b5";
}

.wd-icon-logo-browser-chrome:before {
  content: "\e8b6";
}

.wd-icon-logo-browser-safari:before {
  content: "\e8b7";
}

.wd-icon-local:before {
  content: "\e8b8";
}

.wd-icon-local-filled:before {
  content: "\e8b9";
}

.wd-icon-logo-android:before {
  content: "\e8ba";
}

.wd-icon-star-filled:before {
  content: "\e89a";
}

.wd-icon-share-filled:before {
  content: "\e89b";
}

.wd-icon-seo-folder:before {
  content: "\e89c";
}

.wd-icon-send:before {
  content: "\e89d";
}

.wd-icon-pin-filled:before {
  content: "\e89e";
}

.wd-icon-phone-call:before {
  content: "\e89f";
}

.wd-icon-picture-filled:before {
  content: "\e8a0";
}

.wd-icon-picture-album:before {
  content: "\e8a1";
}

.wd-icon-permissions-filled:before {
  content: "\e8a2";
}

.wd-icon-permissions:before {
  content: "\e8a3";
}

.wd-icon-paperclip:before {
  content: "\e8a4";
}

.wd-icon-notebook:before {
  content: "\e8a5";
}

.wd-icon-natural-mode-filled:before {
  content: "\e8a6";
}

.wd-icon-move-filled:before {
  content: "\e8a7";
}

.wd-icon-message-emoji:before {
  content: "\e8a8";
}

.wd-icon-logo-youtube:before {
  content: "\e8a9";
}

.wd-icon-zoom-in:before {
  content: "\e88c";
}

.wd-icon-zoom-out:before {
  content: "\e88d";
}

.wd-icon-video-filled:before {
  content: "\e88e";
}

.wd-icon-video:before {
  content: "\e88f";
}

.wd-icon-upload-one:before {
  content: "\e890";
}

.wd-icon-up-box-filled:before {
  content: "\e891";
}

.wd-icon-up-box:before {
  content: "\e892";
}

.wd-icon-unlock-filled:before {
  content: "\e893";
}

.wd-icon-topic:before {
  content: "\e894";
}

.wd-icon-tree-diagram:before {
  content: "\e895";
}

.wd-icon-tree-diagram-filled:before {
  content: "\e896";
}

.wd-icon-tips:before {
  content: "\e897";
}

.wd-icon-text-recognition:before {
  content: "\e898";
}

.wd-icon-table:before {
  content: "\e899";
}

.wd-icon-expand-o:before {
  content: "\e882";
}

.wd-icon-alarm-clock-filled:before {
  content: "\e883";
}

.wd-icon-data-screen:before {
  content: "\e884";
}

.wd-icon-bluetooth-close:before {
  content: "\e885";
}

.wd-icon-bank-card:before {
  content: "\e886";
}

.wd-icon-bluetooth:before {
  content: "\e887";
}

.wd-icon-chart-line:before {
  content: "\e888";
}

.wd-icon-bad-filled:before {
  content: "\e889";
}

.wd-icon-alarm-clock:before {
  content: "\e88a";
}

.wd-icon-add-box-filled:before {
  content: "\e88b";
}

.wd-icon-coupon-filled:before {
  content: "\e86b";
}

.wd-icon-calendar-dot:before {
  content: "\e86c";
}

.wd-icon-chart-histogram:before {
  content: "\e86d";
}

.wd-icon-go-on:before {
  content: "\e86e";
}

.wd-icon-logo-qq-o:before {
  content: "\e86f";
}

.wd-icon-logo-wechat:before {
  content: "\e870";
}

.wd-icon-bad:before {
  content: "\e871";
}

.wd-icon-logo-facebook:before {
  content: "\e872";
}

.wd-icon-fingerprint:before {
  content: "\e873";
}

.wd-icon-camera-circle-filled:before {
  content: "\e874";
}

.wd-icon-click-tap:before {
  content: "\e875";
}

.wd-icon-expand:before {
  content: "\e876";
}

.wd-icon-logo-baidu:before {
  content: "\e877";
}

.wd-icon-chart-scatter:before {
  content: "\e878";
}

.wd-icon-calendar-dot-filled:before {
  content: "\e879";
}

.wd-icon-calculator:before {
  content: "\e87a";
}

.wd-icon-coupon:before {
  content: "\e87b";
}

.wd-icon-finance-filled:before {
  content: "\e87c";
}

.wd-icon-export:before {
  content: "\e87d";
}

.wd-icon-chart-pie:before {
  content: "\e87e";
}

.wd-icon-bank-card-filled:before {
  content: "\e87f";
}

.wd-icon-dimensional:before {
  content: "\e880";
}

.wd-icon-chart-timeline:before {
  content: "\e881";
}

.wd-icon-wifi:before {
  content: "\e854";
}

.wd-icon-wifi-close:before {
  content: "\e855";
}

.wd-icon-logo-taobao:before {
  content: "\e856";
}

.wd-icon-list:before {
  content: "\e857";
}

.wd-icon-natural-mode:before {
  content: "\e858";
}

.wd-icon-data:before {
  content: "\e859";
}

.wd-icon-monitor-filled:before {
  content: "\e85a";
}

.wd-icon-logo-apple-o:before {
  content: "\e85b";
}

.wd-icon-unlock:before {
  content: "\e85c";
}

.wd-icon-music-filled:before {
  content: "\e85d";
}

.wd-icon-logo-qq:before {
  content: "\e85e";
}

.wd-icon-share:before {
  content: "\e85f";
}

.wd-icon-remind-disable-filled:before {
  content: "\e860";
}

.wd-icon-play-circle-filled:before {
  content: "\e861";
}

.wd-icon-move:before {
  content: "\e862";
}

.wd-icon-chart-graph:before {
  content: "\e863";
}

.wd-icon-logo-taobao-o:before {
  content: "\e864";
}

.wd-icon-calculator-filled:before {
  content: "\e828";
}

.wd-icon-pin:before {
  content: "\e865";
}

.wd-icon-logo-facebook-o:before {
  content: "\e866";
}

.wd-icon-logo-baidu-o:before {
  content: "\e867";
}

.wd-icon-logo-youtube-o:before {
  content: "\e868";
}

.wd-icon-logo-tw:before {
  content: "\e869";
}

.wd-icon-chart-radar:before {
  content: "\e86a";
}

.wd-icon-return:before {
  content: "\e83d";
}

.wd-icon-filter:before {
  content: "\e83e";
}

.wd-icon-picture:before {
  content: "\e83f";
}

.wd-icon-shrink:before {
  content: "\e840";
}

.wd-icon-refresh-circle:before {
  content: "\e841";
}

.wd-icon-star:before {
  content: "\e842";
}

.wd-icon-logo-wechat-pay:before {
  content: "\e843";
}

.wd-icon-logo-linkedin-o:before {
  content: "\e844";
}

.wd-icon-remind-filled:before {
  content: "\e845";
}

.wd-icon-consume:before {
  content: "\e829";
}

.wd-icon-shopping:before {
  content: "\e846";
}

.wd-icon-logo-wechat-o:before {
  content: "\e847";
}

.wd-icon-logo-sina:before {
  content: "\e848";
}

.wd-icon-zh:before {
  content: "\e849";
}

.wd-icon-en:before {
  content: "\e84a";
}

.wd-icon-lock:before {
  content: "\e84b";
}

.wd-icon-dashboard-filled:before {
  content: "\e84c";
}

.wd-icon-logo-zhifubao:before {
  content: "\e84d";
}

.wd-icon-consume-filled:before {
  content: "\e84e";
}

.wd-icon-mall-bag:before {
  content: "\e84f";
}

.wd-icon-finance:before {
  content: "\e850";
}

.wd-icon-voice-filled:before {
  content: "\e851";
}

.wd-icon-shrink-o:before {
  content: "\e852";
}

.wd-icon-pause-circle-filled:before {
  content: "\e853";
}

.wd-icon-workbench:before {
  content: "\e82e";
}

.wd-icon-wallet:before {
  content: "\e82f";
}

.wd-icon-logo-zhifubao-o:before {
  content: "\e82d";
}

.wd-icon-movie-filled:before {
  content: "\e830";
}

.wd-icon-time:before {
  content: "\e831";
}

.wd-icon-logo-tw-o:before {
  content: "\e82c";
}

.wd-icon-logo-sina-o:before {
  content: "\e82b";
}

.wd-icon-logo-douyin:before {
  content: "\e832";
}

.wd-icon-time-filled:before {
  content: "\e833";
}

.wd-icon-shopping-filled:before {
  content: "\e834";
}

.wd-icon-refresh-circle-filled:before {
  content: "\e835";
}

.wd-icon-pay-code:before {
  content: "\e836";
}

.wd-icon-scanning:before {
  content: "\e837";
}

.wd-icon-logout-o:before {
  content: "\e838";
}

.wd-icon-logo-douyin-o:before {
  content: "\e839";
}

.wd-icon-good:before {
  content: "\e82a";
}

.wd-icon-flashlight-filled:before {
  content: "\e83a";
}

.wd-icon-weixin-app:before {
  content: "\e83b";
}

.wd-icon-logo-wechat-pay-o:before {
  content: "\e83c";
}
