@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';


.u-waterfall {
  @include flex(row);
  align-items: flex-start;
}

.u-column {
  @include flex(column);
  flex: 1;
  height: auto;
}

.u-image {
  width: 100%;
}
