@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';

@include b(waterfall) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  @include m(column) {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: auto;
  }
}
