@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';


@include b(slider-button) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
  width: $slider-button-width;
  height: $slider-button-height;
  background: $slider-button-bg;
  border-radius: $slider-button-radius;

  @include when(disabled) {
    cursor: not-allowed;
    opacity: $slider-button-disabled-opacity;
  }

  @include e(text-inner) {
    color: $slider-button-text-color;
    font-size: $slider-button-text-font-size;
    line-height: $slider-button-text-line-height;
    transition: color 0.3s ease;
  }

  @include e(track) {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: $slider-button-track-bg;
    border-radius: $slider-button-radius;
    overflow: hidden;
  }

  @include e(track-text) {
    position: absolute;
    color: $slider-button-success-text-color;
    left: 0;
    height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    pointer-events: none;
    word-break: keep-all;
  }

  @include e(button) {
    @include halfPixelBorderSurround($slider-button-border-color);
    position: absolute;
    right: 0;
    top: 0;
    width: $slider-button-size;
    height: $slider-button-size;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $slider-button-bg;
    box-shadow: $slider-button-shadow;
    color: $slider-button-color;
    border-radius: $slider-button-radius;
    cursor: grab;
  }

  // 按钮图标
  @include edeep(button-icon) {
    font-size: $slider-button-success-icon-size;
    @include m(success) {
      color: $slider-button-success-color;
    }
  }
}
