@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';

@include b(waterfall) {
}


@include b(avatar-group) {
  display: flex;

  @include e(item) {
    margin-left: -10px;
    position: relative;

    @include m(no-indent) {
      margin-left: 0;
    }

    @include e(show-more) {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.3);
      @include flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
    }
  }
}
