@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';

@include b(subsection) {
	display: flex;
	position: relative;
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;

  // 按钮形式
	@include m(button) {
		background-color: $-subsection-bg-color;
		padding: 3px;
		border-radius: 3px;
		align-items: stretch;

		@include e(square) {
			@include e(bar) {
				background-color: $-subsection-bg-color;
				border-radius: 3px;
			}
		}

		@include e(circle) {
			border-radius: 100px;
			@include e(bar) {
				background-color: $-subsection-bg-color;
				border-radius: 100px;
			}
		}
	}

  //  分段模式
	@include m(box) {
		@include e(circle) {
			border-radius: 100px;
		}
	}

	@include e(bar) {
		position: absolute;
		transition-property: transform, color;
		transition-duration: 0.3s;
		transition-timing-function: ease-in-out;
	
		@include e(first) {
			@include m(square) {
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
				border-top-right-radius: 0px;
				border-bottom-right-radius: 0px;
			}

			@include m(circle) {
				border-top-left-radius: 100px;
				border-bottom-left-radius: 100px;
				border-top-right-radius: 0px;
				border-bottom-right-radius: 0px;
			}
		}

		@include e(center) {
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
		}

		@include e(last) {
			@include m(square) {
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}

			@include m(circle) {
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
				border-top-right-radius: 100px;
				border-bottom-right-radius: 100px;
			}
		}
	}

	@include e(item) {
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
    text-align: center;
		// vue环境下，需要设置相对定位，因为滑块为绝对定位，item需要在滑块的上面
		position: relative;

		@include m(no-border-right) {
			border-right-width: 0 !important;
		}

		@include m(first) {
			@include m(square) {
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
			}

			@include m(circle) {
				border-top-left-radius: 100px;
				border-bottom-left-radius: 100px;
			}
		}

		@include m(last) {
			@include m(square) {
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
			}

			@include m(circle) {
				border-top-right-radius: 100px;
				border-bottom-right-radius: 100px;
			}
		}

		@include e(text) {
			font-size: 12px;
			line-height: 12px;
			display: flex;
			align-items: center;
			transition-property: color;
			transition-duration: 0.3s;
		}
	}
}