@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';



@include b(waterfall) {
}
.wd-lazy-wrap {
  background-color: #eee;
  overflow: hidden;
}

.wd-lazy-image {
  width: 100%;
  // 开启硬件加速
  transform: translateZ(0);
  // 防止图片加载"闪一下"
  will-change: transform;
  display: block;
}

.wd-lazy-image.error {
  // 错误图片的特殊样式
}
