@import '../common/abstracts/variable';
@import '../common/abstracts/mixin';

.wd-wrap {
    background-color: #eee;
    overflow: hidden;
}

.wd-lazy-item {
    width: 100%;
    // 骗系统开启硬件加速
    transform: transition3d(0, 0, 0);
    // 防止图片加载“闪一下”
    will-change: transform;
    display: block;
}
